<div class="sponsors">
  <wgj-section-title data-aos="fade-up"> Sponsors </wgj-section-title>
  <div class="container">
    <div class="sponsors__content">
      <div data-aos="fade-up">
        <a href="https://www.razer.com/" rel="noreferrer" target="_blank">
          <img src="assets/img/razer.webp" alt="logo de razer" width="250" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="https://www.jalasoft.com" rel="noreferrer" target="_blank">
          <img
            src="assets/img/logo-jalasoft.png"
            alt="logo de Jalasoft"
            width="200"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://developers.google.com/womentechmakers?hl=es-419"
          rel="noreferrer"
          target="_blank"
        >
          <img
            src="assets/img/wtm.webp"
            alt="logo de women techmakers"
            width="400"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/AISBolivia"
          rel="noreferrer"
          target="_blank"
        >
          <img src="assets/img/aisb.webp" alt="logo de aisb" width="350" />
        </a>
      </div>
      <!-- <div data-aos="fade-up">
        <a href="https://vrtybo.com" rel="noreferrer" target="_blank">
          <img
            src="assets/img/vreality.webp"
            alt="logo de vreality"
            width="150"
          />
        </a>
      </div> -->
      <div data-aos="fade-up">
        <a
          href="https://www.instagram.com/impresiones_michicosmico"
          rel="noreferrer"
          target="_blank"
        >
          <img
            src="assets/img/michicosmico.webp"
            alt="logo de michicosmico"
            width="200"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <img
          src="assets/img/favijhec.webp"
          alt="logo de favijhec"
          width="200"
        />
      </div>
    </div>
  </div>
</div>
