<div class="container">
  <div class="about-us">
    <p class="about-us__title"> ¿Qué es Women Game Jam? </p>
    <div class="about-us__content">
      <img
        class="about-us__kid"
        src="assets/images/2022/kid-1.png"
        alt="niña con dos controles"
      />
      <p class="about-us__description">
        Women Game Jam es una <b>maratón de 48 horas</b> de desarrollo de
        videojuegos. Un espacio con un espíritu de creación, networking,
        colaboración entre <b>todas y todos los participantes</b>.
      </p>
    </div>
  </div>
</div>
