<div class="container">
  <p class="title">Eventos previos</p>
  <div class="row">
    <div class="col s12 m10 offset-m1 p-0">
      <p class="description-text">
        Hemos organizado eventos previos donde podrás conocer a muchas chicas y
        chicos que estuvieron compartiendo su experiencia creando juegos.
      </p>
    </div>
  </div>
  <div class="event-video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/cB3sm5ksnfQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <a
      class="title title--small"
      target="_blank"
      rel="noreferrer"
      href="https://youtu.be/cB3sm5ksnfQ"
    >
      Primer Meetup - PRESS START
    </a>
  </div>
  <div class="event-video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/qA2qtyzkhWc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <a
      class="title title--small"
      target="_blank"
      rel="noreferrer"
      href="https://youtu.be/qA2qtyzkhWc"
    >
      Segundo Meetup - LEVEL 1
    </a>
  </div>
</div>
