<div class="section-title" [ngClass]="{ 'section-title--orange': isOrange }">
  <div class="section-title__arrow">
    <img src="assets/img/title-arrow.png" alt="flecha señalando el título" />
  </div>

  <div class="section-title__text">
    <ng-content></ng-content>
  </div>

  <img
    class="section-title__screw section-title__screw--1"
    src="assets/img/screw.png"
    alt="tornillo pixelado"
  />
  <img
    class="section-title__screw section-title__screw--2"
    src="assets/img/screw.png"
    alt="tornillo pixelado"
  />
  <img
    class="section-title__screw section-title__screw--3"
    src="assets/img/screw.png"
    alt="tornillo pixelado"
  />
  <img
    class="section-title__screw section-title__screw--4"
    src="assets/img/screw.png"
    alt="tornillo pixelado"
  />
</div>
