<div class="container">
  <div class="participants">
    <p class="participants__title"> ¿Quiénes pueden participar? </p>
    <p class="participants__label"> Respuesta corta </p>
    <p class="participants__label participants__label--big">
      ¡Tod@s están invitad@s a ser parte de esta aventura!
    </p>
    <a
      class="participants__action-button"
      href="https://bit.ly/ES_WGJ22"
      rel="noreferrer"
      target="_blank"
    >
      Registrarse
    </a>
    <img
      class="participants__kid"
      src="assets/images/2022/kid-2.png"
      alt="niño y una nutria"
    />
  </div>
</div>
