.participants {
  align-items: center;
  background-color: #ffedcb;
  border-radius: 5px;
  border: 6px solid #98dcd8;
  color: #57280d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0;
  padding: 40px 0;
  position: relative;

  .participants__title {
    background-color: #f3a46a;
    border-radius: 28px;
    font-size: 1.7rem;
    font-weight: bold;
    max-width: 100%;
    padding: 6px 40px;
    text-align: center;
    text-decoration: underline;
    width: 300px;
    z-index: 1;

    @media screen and (min-width: 768px) {
      position: absolute;
      left: -28px;
      top: -32px;
      transform: rotate(-5deg);
    }
  }

  .participants__label {
    font-size: 2rem;
    font-weight: bold;
    max-width: 100%;
    text-align: center;
    width: 600px;

    &.participants__label--big {
      font-size: 2.5rem;
    }
  }

  .participants__action-button {
    align-items: center;
    display: flex;
    background-color: #f3a46a;
    border: 2px solid #57280d;
    border-radius: 20px;
    color: #57280d;
    font-size: 1.7rem;
    font-weight: bold;
    justify-content: center;
    max-width: 100%;
    min-height: 60px;
    text-align: center;
    width: 180px;
  }

  .participants__kid {
    height: 200px;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      bottom: -80px;
      position: absolute;
      right: -20px;
    }
  }
}
