.top-margin {
  margin-top: 20px;
}

.bg-image {
  background-image: url(../../../assets/images/background.svg);
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  height: 70px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#download {
  display: none;
}