<div class="invitation-container">
  <div class="center-align container">
    <div class="row">
      <div class="col offset-m2 m8">
        <img src="assets/images/heard.svg" alt="invitation">
        <h2 class="title">Nuestro Objetivo</h2>
        <h5 class="description">
          Women Game Jam es una maratón de desarrollo especialmente enfocada al público femenino. Tiene la intención de
          brindar más visibilidad, incentivos y redes a los participantes que trabajan o desean trabajar en la industria
          de los videojuegos.
        </h5>
      </div>
      <div class="col offset-m2 m8 row">
        <div class="row section">
          <img src="assets/images/star.svg" class="col" alt="estrella"/>
          <h6 class="text-section col">
            Estimular en las mujeres el sentido de pertenencia a la comunidad de desarrolladores de juegos locales.
          </h6>
        </div>
        <div class="row section">
          <img src="assets/images/star.svg" class="col" alt="estrella"/>
          <h6 class="text-section col">
            Hacer posible que las mujeres que ya están o quieren estar en la industria del juego se conozcan entre sí.
          </h6>
        </div>
        <div class="row section">
          <img src="assets/images/star.svg" class="col" alt="estrella"/>
          <h6 class="text-section col">
            Presentar el trabajo de estas mujeres a la industria.
          </h6>
        </div>
        <div class="row section">
          <img src="assets/images/star.svg" class="col" alt="estrella"/>
          <h6 class="text-section col">
            Crear un entorno amigable y un espacio de intercambio de experiencias para principiantes o desarrolladoras
            con experiencia.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
