<div class="trainer-postulation">
  <div class="container trainer-postulation__content">
    <div class="trainer-postulation__section">
      <wgj-section-title data-aos="fade-up" [isOrange]="true">
        Postula para ser Mentor
      </wgj-section-title>
      <p data-aos="fade-up">
        Tendrás la oportunidad de compartir tus conocimientos y experiencia con
        los equipos, brindándoles orientación y apoyo a medida que trabajan en
        sus proyectos. Esto te permitirá contribuir al desarrollo de nuevos
        talentos.
      </p>
      <wgj-button data-aos="fade-up" link="https://forms.gle/EwUimzm65JLVEncH7">
        Postular
      </wgj-button>
    </div>
    <div class="trainer-postulation__section">
      <wgj-section-title data-aos="fade-up" [isOrange]="true">
        Postula para ser Guía
      </wgj-section-title>
      <p data-aos="fade-up">
        Construye relaciones y haz networking, desarrolla habilidades de
        liderazgo.
      </p>
      <p data-aos="fade-up">
        Esta experiencia enriquecedora te permitirá contribuir al éxito de los
        equipos, establecer relaciones valiosas y desarrollar habilidades
        profesionales clave.
      </p>
      <wgj-button data-aos="fade-up" link="https://forms.gle/R9KgCyeFNr7JfJvm6">
        Postular
      </wgj-button>
    </div>
  </div>
  <img
    class="girl girl--left"
    src="assets/img/girl-1.png"
    alt="niña pixelada"
  />
  <img
    class="girl girl--right"
    src="assets/img/girl-2.png"
    alt="niña pixelada"
  />
</div>
