<div class="sponsor-registration">
  <div class="container sponsor-registration__content">
    <wgj-section-title data-aos="fade-up"> ¿Quieres ser Sponsor? </wgj-section-title>
    <p data-aos="fade-up">
      Alentamos a las empresas a considerar esta oportunidad para aprovechar los
      beneficios y oportunidades que ofrecemos al ser parte del hackathon más
      grande de creación de juegos de Bolivia.
    </p>
    <wgj-button data-aos="fade-up" link="https://forms.gle/NBoPfdaeQNkhVuDg7">
      Ver más...
    </wgj-button>
  </div>

  <img class="cloud cloud--1" src="assets/img/cloud.png" alt="nube pixelada" />
  <img class="cloud cloud--2" src="assets/img/cloud.png" alt="nube pixelada" />
  <img
    class="little-animal"
    src="assets/img/little-animal-playing.png"
    alt="pequeño animal jugando"
  />
</div>
