<div class="communities">
  <wgj-section-title data-aos="fade-up">
    Comunidades Organizadoras
  </wgj-section-title>
  <div class="container">
    <div class="communities__content">
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/GDGCochabamba"
          rel="noreferrer"
          target="_blank"
        >
          <img src="assets/img/gdg-cbba.png" alt="logo de gdg cochabamba" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/wtmcochabamba"
          rel="noreferrer"
          target="_blank"
        >
          <img
            src="assets/img/wtm-cbba.png"
            alt="logo de women techmakers cochabamba"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="https://ng.com.bo" rel="noreferrer" target="_blank">
          <img
            src="assets/img/angular-bolivia.webp"
            alt="logo de angular bolivia"
            width="100"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/GP4TechJala"
          rel="noreferrer"
          target="_blank"
        >
          <img src="assets/img/gp4tech.png" alt="logo de gp4tech" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/adaindatabo"
          rel="noreferrer"
          target="_blank"
        >
          <img
            src="assets/img/logo-ada-in-data.png"
            alt="logo de Ada in Data"
          />
        </a>
      </div>
    </div>
  </div>
</div>
