<div class="container center-align pt-6 pb-1">
  <h4 class="title">Comunidades amigas</h4>
  <div class="row">
    <div class="col s12 offset-m3 m6 mt-1">
      <p class="description-text">
        Estamos muy contentos de contar con el apoyo de grandes comunidades tecnológicas de toda Bolivia.
      </p>
    </div>
  </div>
</div>
<div class="community-logos w-100 pb-3">
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/adevi.png" alt="logo de adevi">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/gp4tech.png" alt="logo girl power for technology">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/angular-bolivia.png" alt="logo de angular bolivia">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/flutter-cochabamba.png" alt="logo de flutter cochabamba">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/gdg-santa-cruz.png" alt="logo del gdg santa cruz">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/pyladies.png" alt="logo de pyladies">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/scesi.png"
      alt="logo de la sociedad científica de estudiantes de sistemas e informática">
  </div>
  <div class="valign-wrapper mx-3 mx-sm-6 my-1">
    <img src="assets/images/communities/mujerestics.png" alt="logo de mujeres tics bolivia">
  </div>
</div>
