<footer class="page-footer">
  <div class="container footer__content">
    <span class="footer__message">
      No olvides seguirnos en nuestras redes sociales como @wgjBolivia
    </span>
    <div class="footer__social-links">
      <a
        href="https://www.facebook.com/WGJBolivia"
        rel="noreferrer"
        target="_blank"
      >
        <img
          src="assets/images/2022/facebook-icon.png"
          alt="ícono de facebook"
        />
      </a>
      <a
        href="https://www.instagram.com/gdgcochabamba"
        rel="noreferrer"
        target="_blank"
      >
        <img
          src="assets/images/2022/instagram-icon.png"
          alt="ícono de instagram"
        />
      </a>
    </div>
    <span class="footer__title"> Women Game Jam Bolivia 2022 </span>
    <img
      src="assets/images/2022/logo-black.png"
      class="footer__logo"
      alt="women game jam bolivia"
    />
  </div>
  <!-- bg images -->
  <img
    class="footer__bg footer__bg--star"
    src="assets/images/2022/star.png"
    alt="estrella"
  />
  <img
    class="footer__bg footer__bg--controller"
    src="assets/images/2022/controller.png"
    alt="control"
  />
  <img
    class="footer__bg footer__bg--ray"
    src="assets/images/2022/ray.png"
    alt="rayo"
  />
  <img
    class="footer__bg footer__bg--starship"
    src="assets/images/2022/starship.png"
    alt="nave espacial"
  />
  <img
    class="footer__bg footer__bg--star-1"
    src="assets/images/2022/star.png"
    alt="estrella"
  />
  <img
    class="footer__bg footer__bg--controller-1"
    src="assets/images/2022/controller.png"
    alt="control"
  />
</footer>
