.video {
  align-items: center;
  color: #57280d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;

  .video__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 20px;
    max-width: 100%;
    width: 300px;

    .video__title {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      text-decoration: underline;
    }

    .video__label {
      font-size: 1.5rem;
      text-align: center;
    }

    .video__kid {
      height: 200px;
      margin-bottom: 20px;
    }
  }

  iframe {
    border: 6px solid #f3a46a;
  }
}
