<div class="banner">
  <div class="container">
    <div class="banner__data__container">
      <img
        alt="women game jam logo"
        class="banner__logo"
        src="assets/images/2022/wgj.png"
      />
      <div class="banner__invitation">
        <p> La aventura vuelve a comenzar del <b>19 al 21 de Agosto</b> </p>
        <p>
          Desarrolla tu creatividad e imaginación en esta <b>Game Jam online</b>
        </p>
        <img
          alt="bubble invitation background"
          class="banner__invitation__bg"
          src="assets/images/2022/invitation-bg.svg"
        />
        <a
          class="banner__action-button"
          href="https://bit.ly/ES_WGJ22"
          rel="noreferrer"
          target="_blank"
        >
          ¡Quiero participar!
        </a>
      </div>
      <img
        alt="wtm and gdg cochabamba logos"
        class="banner__organizer-logos"
        src="assets/images/2022/organizers.png"
      />
    </div>
  </div>
</div>
