#wgj-logo {
  max-width: 30%;
  margin-bottom: 70px;
}

#character {
  max-width: 30%;
}

.parallax-container {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 1024px;
}

.button-signup {
  margin-top: 10px;
  margin-bottom: 50px;
  color: transparent;
  border-color: transparent;
}

.invitation-text {
  font-size: 18px;
}
