<div wgjTransparentNavbar class="parallax-container valign-wrapper">
    <span id="color-layer"></span>
    <div class="parallax-container-data center-align">
        <div id="banner-container" class="container">
            <div class="row">
                <div class="col offset-m2 m8">
                    <img id="wgj-logo" src="assets/images/logo-center.svg" alt="WGJ">
                    <h2 class="nes-text is-primary">
                        Women Game Jam Bolivia 2020
                    </h2>
                    <h3 class="nes-text is-error date-banner">Agosto 21 - 30</h3>
                </div>
                <div class="col offset-m3 m6">
                    <a class="nes-btn is-warning">Registrate!</a>
                </div>
            </div>
        </div>
    </div>
    <div wgjParallax class="parallax">
        <img id="wgj-banner" src="assets/images/banner.svg" alt="WGJ Background">
    </div>
</div>
