<div class="banner">
  <img
    class="banner__cloud banner__cloud--1"
    src="assets/img/cloud1.webp"
    alt="nube"
  />
  <img
    class="banner__cloud banner__cloud--2"
    src="assets/img/cloud3.webp"
    alt="nube"
  />
  <img
    class="banner__cloud banner__cloud--3"
    src="assets/img/star3.webp"
    alt="estrella"
  />
  <img
    class="banner__cloud banner__cloud--4"
    src="assets/img/star3.webp"
    alt="estrella"
  />
  <img
    class="banner__cloud banner__cloud--5"
    src="assets/img/star3.webp"
    alt="estrella"
  />
  <img
    class="banner__cloud banner__cloud--6"
    src="assets/img/star1.webp"
    alt="estrella"
  />
  <img
    class="banner__cloud banner__cloud--7"
    src="assets/img/star1.webp"
    alt="estrella"
  />
  <div class="banner__title-container">
    <img
      data-aos="fade-up"
      class="banner__title-logo"
      src="assets/img/wgj-logo.webp"
      alt="logo de women game jam 2024"
      width="300"
    />
    <div data-aos="fade-up" class="banner__title">
      <img
        class="banner__screw banner__screw--1"
        src="assets/img/screw.png"
        alt="tornillo"
      />
      <img
        class="banner__screw banner__screw--2"
        src="assets/img/screw.png"
        alt="tornillo"
      />
      <img
        class="banner__screw banner__screw--3"
        src="assets/img/screw.png"
        alt="tornillo"
      />
      <img
        class="banner__screw banner__screw--4"
        src="assets/img/screw.png"
        alt="tornillo"
      />
      <p>La aventura vuelve a comenzar del 8 al 10 de agosto.</p>
      <!-- <p>Desarrolla tu creatividad e imaginación.</p> -->
      <wgj-call-to-action></wgj-call-to-action>
    </div>
  </div>
  <img
    class="banner__girls-img"
    src="assets/img/mascota.webp"
    alt="nutria mascota del evento"
  />
</div>
