<div class="friendly-communities">
  <wgj-section-title data-aos="fade-up"> Comunidades Amigas </wgj-section-title>
  <div class="container">
    <div class="friendly-communities__content">
      <div data-aos="fade-up">
        <a href="https://www.facebook.com/MujeresTICsBO" target="_blank">
          <img
            src="assets/img/logo-mujeres-tics.png"
            alt="logo de mujeres tics"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="https://www.facebook.com/TechkidsBolivia" target="_blank">
          <img src="assets/img/logo-techkids.png" alt="logo de techkids" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="https://mentiacademy.tech" target="_blank">
          <img
            src="assets/img/logo-menti-academy.png"
            alt="logo de menti academy"
          />
        </a>
      </div>
    </div>
  </div>
</div>
