<div class="friendly-communities">
  <wgj-section-title data-aos="fade-up"> Comunidades Amigas </wgj-section-title>
  <div class="container">
    <div class="friendly-communities__content">
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/MujeresTICsBO"
          rel="noreferrer"
          target="_blank"
        >
          <img
            src="assets/img/logo-mujeres-tics.png"
            alt="logo de mujeres tics"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://www.facebook.com/TechkidsBolivia"
          rel="noreferrer"
          target="_blank"
        >
          <img src="assets/img/logo-techkids.png" alt="logo de techkids" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="https://mentiacademy.tech" rel="noreferrer" target="_blank">
          <img
            src="assets/img/logo-menti-academy.png"
            alt="logo de menti academy"
          />
        </a>
      </div>
      <div data-aos="fade-up">
        <a href="http://magicgamesbolivia.com" rel="noreferrer" target="_blank">
          <img src="assets/img/logo-magic-games.png" alt="logo de magic game" />
        </a>
      </div>
      <div data-aos="fade-up">
        <a
          href="https://bento.me/virtualsonqo"
          rel="noreferrer"
          target="_blank"
        >
          <img src="assets/img/logo-sonqo.jpg" alt="logo de Sonqo" />
        </a>
      </div>
    </div>
  </div>
</div>
