// Generic styles
@import './styles.variables';

// Width
.w-100 {
  width: 100% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

// Margin
.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-sm-6 {
  @media #{$small-and-down} {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
  }
}

.my-1 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.my-2 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

// Padding
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-2 {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.py-6 {
  padding-bottom: 6rem !important;
  padding-top: 6rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}
