@import '../../../styles.colors';
@import '../../../styles.variables';

nav {
  position: fixed;
  top: 0;
  z-index: 998;
  box-shadow: none;

  a {
    color: $text-color;
  }

  @media #{$large-and-up} {
    ul a.btn-large {
      margin-top: -7px;
      margin-right: 4px;
      color: white;
    }

    .brand-logo {
      margin-left: 20px;
    }
  }
}
