<header>
    <nav class="transparent">
        <a routerLink="/" class="brand-logo">
            <img src="assets/images/logo-nav.svg" class="hide-on-med-and-down" alt="WGJ">
        </a>
        <a data-target="mobile-menu" class="sidenav-trigger">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
              <a href="//www.facebook.com/WomenTechmakersCochabamba" target="_blank" rel="noopener noreferrer">
                <i class="nes-icon facebook is-small"></i>
              </a>
            </li>
        </ul>
    </nav>

    <ul wgjSidenav class="sidenav" id="mobile-menu">
        <li>
          <a href="//www.facebook.com/WomenTechmakersCochabamba" target="_blank" rel="noopener noreferrer" class="sidenav-close">
            <i class="fab fa-facebook-square fa-2x"></i> Facebook
          </a>
        </li>
    </ul>
</header>
